.profile-list-style{
    background: white;
    width: 100%;
    
    height: 100vh;
    scrollbar-arrow-color: transparent;
    scrollbar-width: none;
    overflow: auto;
    
}
.profileContent{
    margin-left:6%;

}