.profile-list-styles{
    background: white;
    width: 100%;
    
    height: 100vh;
    scrollbar-arrow-color: transparent;
    scrollbar-width: none;
    overflow: auto;
    
}
.profileContents{
    margin-left:6%;
    height:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.formContainer{
    width: 50%;
    display: flex;
    padding: 2%;
}

.profileTabs{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top-left-radius: 49px;

    padding-top: 3%;
    background: #dfe2e56e;

}
.profileTabs img{
    height: 38%;
    object-fit: cover;
    width: 42%;
    border-radius: 91%;
    box-shadow: -7px 12px 32px -18px;
}
.details{
    flex-direction: column;
    display: flex;
    align-items: center;
    row-gap: 10px;
    
}
.details p{
    margin-top: -5%;
    font-size: 14px;
}
#name{
    font-size: 12px;
    margin-top:-11%;
}
.profileTitle{
    margin-left: 6%;
}